%head
  %title Студенты
  %link(href="/css/alex_style.css" rel="stylesheet")
  %link(href="/css/bootstrap.min.scss" rel="stylesheet")
  %link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css")
  %link(rel="icon" href="/images/logo.png" type="images/png")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  - @sol_sys_obj.each do |obj|
    %h1= obj.name
    - obj.solar_system_object_images.each do |imge|
      %p
        %img(src="#{imge.img_url}")
        %br
        %i= obj.name
    %br
    %h3= 'Первооткрыватель :'
    - obj.pioneer.pioneer_images.each do |imge|
      %p
        %img(src="#{imge.img_url}")
        %br
        %i= obj.pioneer.first_name + ' ' + obj.pioneer.last_name
    %h3= 'Краткие сведения :'
    %ul
      %li= 'Дата открытия :'
      %b= obj.opening_date
      %li= 'Расстояние от солнца :'
      %b= obj.distance_from_sun
      %li= 'Расстояние от Земли :'
      %b= obj.distance_from_earth
      %li= 'Вес :'
      %b= obj.weight
      %li= 'Общее описание :'
      %b= obj.notes