%head
  %title Студенты
  %link(href="/css/aleksey_style.css" rel="stylesheet")
  %link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  %div
    %ul(class="breadcrumb")
      %li
        %a(href="/")= 'Вернуться к списку студентов'
      %li
        %a(href="/#{@student.id}")= 'Вернуться к списку команды'
  - @team.each do |team|
    %h3= "Команда \"#{team.name}\""
    %img(src="#{team.team_image.img_url}")
    %h3= 'Краткие свединия: '
    %ul
      %li= 'Страна: '
      %b= team.country
      %li= 'Дата основания: '
      %b= team.foundation_date
      %li= 'Тренер: '
      %b= team.trener
      %li= 'Рейтинг: '
      %b= team.rating
      %li= 'Общее сведение: '
      %b= team.notes
    %h3= "Лутшие игроки Клуба \"#{team.name}\""
    - team.best_players.each do |player|
      - unless player.best_player_image.nil?
        %img(src="#{player.best_player_image.img_url}")
      %p
        %i= player.first_name + ' ' + player.last_name