%head
  %title Студенты
  %link(href="/css/aleksey_style.css" rel="stylesheet")
  %link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
%body
  %div.header
    %a(href="/")
      %h5= 'Back to the list of students'
  - @teams.each do |team|
    %img(src="#{team.team_image.img_url}" width=500)
    %br
    %h3
      = "Команда \"#{team.name}\""

    %br
    - team.best_players.each do |player|
      %p
        %i= player.first_name + ' ' + player.last_name
    %br
    %h3= 'Краткие свединия: '
    %ul
      %li= 'Страна: '
      %b= team.country
      %li= 'Дата открытия: '
      %b= team.foundation_date
      %li= 'Тренер: '
      %b= team.trener
      %li= 'Рейтинг: '
      %b= team.rating
      %li= 'Общее сведение: '
      %b= team.notes